.lsize{
    font-size: xxx-large;
    text-align: center;
    color: orange;
}
body{
    background-color: black;
}
.left {
    text-align: left;
}
.wfont{
    color: white;
}
.ofont{
    color: orange;
}
.msize{
    font-size: medium;
}
